<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="landofcoder" sortOrder="999" translate="label">
            <label>Landofcoder</label>
        </tab>
        <section id="lof_estimateshippingrate" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
            <label>Estimate Shipping Rate for Product</label>
            <tab>landofcoder</tab>
            <resource>Lof_EstimateShippingRate::config_lof_estimateshippingrate</resource>
            <group id="general" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
                <label>General Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Module Enable</label>
                    <comment>Enable/Disable module</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>